<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Profile</h1>

  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input value="{{ connectedUser?.nom }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Addresse</ion-label>
      <ion-input value="{{ connectedUser?.adresse }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ville</ion-label>
      <ion-input value="{{ connectedUser?.ville }}"></ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input value="{{ connectedUser?.nom }}"></ion-input>
    </ion-item>--> 
    <ion-item>
      <ion-label position="floating">Adresse email</ion-label>
      <ion-input value="{{ connectedUser?.email }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numéro de téléphone</ion-label>
      <ion-input value="{{ connectedUser?.tel }}"></ion-input>
    </ion-item>
  </div>
</ion-content>
